.rtl.has-header-layout-2 .sidebar-menu, .rtl.has-header-layout-3 .sidebar-menu, .rtl.has-header-layout-4 .sidebar-menu, .rtl.has-header-layout-5 .sidebar-menu, .rtl.has-header-layout-6 .sidebar-menu {
  right: 0;
  left: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.sidebar-menu-open .rtl.has-header-layout-2 #view, .sidebar-menu-open .rtl.has-header-layout-3 #view, .sidebar-menu-open .rtl.has-header-layout-4 #view, .sidebar-menu-open .rtl.has-header-layout-5 #view, .sidebar-menu-open .rtl.has-header-layout-6 #view {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

.sidebar-menu-open .rtl.has-header-layout-2 .sidebar-menu, .sidebar-menu-open .rtl.has-header-layout-3 .sidebar-menu, .sidebar-menu-open .rtl.has-header-layout-4 .sidebar-menu, .sidebar-menu-open .rtl.has-header-layout-5 .sidebar-menu, .sidebar-menu-open .rtl.has-header-layout-6 .sidebar-menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.rtl .menu-item .menu-item-icon {
  margin-left: 10px;
  margin-right: 0;
}

.rtl .header-content-block .header-block-item + .header-block-item {
  border-left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.rtl .header-single-block .header-single-block-icon {
  margin-left: 12px;
  margin-right: 0;
}

.rtl .header-layout-6 .woostify-total-price {
  margin-left: 10px;
  margin-right: 0;
}

.rtl .header-layout-6 .shop-cart-count {
  left: -10px;
  right: auto;
}

.rtl.has-header-layout-7 .sidebar-menu {
  right: 0;
  left: auto;
}

.rtl.has-header-layout-7 .sidebar-menu .site-branding {
  text-align: right;
}

.rtl.has-header-layout-7 .sidebar-menu .tools-icon {
  margin-left: 15px;
  margin-right: 0;
}

.rtl.has-header-layout-7 .sidebar-menu .tools-icon.my-account-icon {
  margin-left: 0;
}

@media (min-width: 992px) {
  .rtl.has-header-layout-7 #view {
    transform: translateX(-300px);
  }
  .rtl.has-header-layout-7.has-distraction-free-checkout #view {
    transform: none;
  }
  .rtl.has-header-layout-7 .main-navigation .primary-navigation .sub-menu {
    margin-right: 20px;
  }
  .rtl.has-header-layout-7 .main-navigation .primary-navigation > li ul:not(.sub-mega-menu) a {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .rtl.has-header-layout-7 .sidebar-menu, .rtl.has-header-layout-8 .sidebar-menu {
    right: 0;
    left: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .sidebar-menu-open .rtl.has-header-layout-7 #view, .sidebar-menu-open .rtl.has-header-layout-8 #view {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
  .sidebar-menu-open .rtl.has-header-layout-7 .sidebar-menu, .sidebar-menu-open .rtl.has-header-layout-8 .sidebar-menu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.rtl .vertical-menu-wrapper .vertical-menu-button .woostify-svg-icon {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .vertical-menu-wrapper .site-vertical-menu ul {
  padding-right: 0;
}

.rtl .vertical-menu-wrapper .vertical-navigation .sub-menu {
  left: auto;
  right: 100%;
}

.rtl .vertical-menu-wrapper .vertical-navigation > li .menu-item-arrow {
  transform: rotate(90deg);
}

.rtl .vertical-navigation a {
  padding: 7px 15px 7px 0px;
}

.rtl .woostify-variation-swatches .swatch + .swatch {
  margin-left: 0;
  margin-right: 15px;
}

.cart-sidebar-open .rtl #woostify-quick-view-panel {
  transform: translateX(400px);
}

@media (max-width: 991px) and (min-width: 600px) {
  .cart-sidebar-open .rtl #woostify-quick-view-panel {
    transform: translateX(50%);
  }
}

@media (max-width: 599px) {
  .cart-sidebar-open .rtl #woostify-quick-view-panel {
    transform: translateX(290px);
  }
}

.rtl .woostify-countdown-urgency .woostify-countdown-urgency-timer {
  direction: ltr;
}

.rtl .woostify-countdown-urgency.on-thumbnail .woostify-cc-timer-item + .woostify-cc-timer-item {
  margin-left: 0;
  margin-right: 5px;
}

.rtl .woostify-countdown-urgency.style-1 .woostify-cc-timer-item + .woostify-cc-timer-item {
  margin-left: 0;
  margin-right: 15px;
}

.rtl .woostify-size-guide-close-button {
  left: 30px;
  right: auto;
}

.rtl .sticky-add-to-cart-section .sticky-atc-image {
  margin-left: 10px;
  margin-right: 0;
}

.rtl .sticky-add-to-cart-section .sticky-atc-right {
  margin-left: 0;
  margin-right: 10px;
}

.rtl .advanced-featured-product .widget-title {
  padding-left: 40px;
  padding-right: 0;
}

.rtl .advanced-featured-product .adv-featured-product-arrow {
  left: 0;
  right: auto;
}

.rtl .adv-featured-product .featured-product-position-left .fcp-content {
  margin-right: 20px;
}

.rtl .adv-featured-product .featured-product-position-left .fcp-image {
  margin-right: 0;
}

.rtl .woostify-products-tab-widget .woostify-products-tab-content.has-slider .products .product {
  margin-left: 0;
}

.rtl .adv-products-filter .pf-item {
  margin-left: 10px;
  margin-right: 0;
}

.rtl .advanced-product-categories .accordion-cat-toggle {
  left: 0;
  right: auto;
}

.rtl .advanced-product-categories a {
  float: right;
}

.rtl .advanced-product-categories .count {
  float: none;
  margin-right: 5px;
  margin-left: 0;
}

.rtl .advanced-product-categories .accordion-cat-toggle {
  transform: rotate(180deg);
}

.rtl .advanced-product-categories .accordion-cat-toggle.active {
  transform: rotate(90deg);
}

.rtl .woostify-product-featured .adv-featured-product-arrow {
  right: auto;
  left: 0;
}

.rtl .woostify-product-featured .product-featured-title {
  text-align: right;
}

.rtl.single-product .summary .star-rating {
  margin-right: 0;
  margin-left: 7px;
}

.rtl .swatch .swatch-tooltip {
  direction: rtl;
}

.rtl .vertical-menu-wrapper .site-vertical-menu .sub-mega-menu {
  right: 100%;
  left: auto;
}

.rtl .woostify-products-widget .woocommerce .products .product {
  width: auto;
  padding: 0;
  margin: 0;
  float: none;
}

.rtl .widget_product_search .woocommerce-product-search .search-field {
  padding-right: 20px;
  padding-left: 50px;
}

.rtl .widget_product_search .woocommerce-product-search:after {
  right: auto;
  left: 0;
}

.rtl .widget_product_search .woocommerce-product-search .clear-search-results {
  right: auto;
  left: 50px;
  bottom: 8px;
}

.rtl .widget_product_search .woocommerce-product-search.loading:before {
  right: auto;
  left: 10px;
}

.rtl .widget_product_search .woocommerce-product-search button[type="submit"] {
  right: auto;
  left: 0;
}

.rtl .widget_product_search .ajax-category-filter-box {
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.rtl .woostify-product-slider .woocommerce-Price-amount.amount {
  unicode-bidi: plaintext;
}

.rtl.has-multi-step-checkout .multi-step-checkout-button[data-action="back"] {
  float: right;
}

.rtl.has-multi-step-checkout .multi-step-checkout-button[data-action="back"] .woostify-svg-icon {
  transform: rotate(180deg);
  margin-left: 5px;
  margin-right: 0;
}

.rtl .woostify-nav-menu-widget .main-navigation .primary-navigation > .menu-item {
  text-align: right;
}

.rtl .woostify-nav-menu-widget .sidebar-menu-bottom {
  text-align: right;
}
