.filter-loading {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 50px;
  width: 30px;
  height: 30px;
}

.filter-loading:before {
  content: '';
  z-index: 2;
  position: absolute;
  border: 2px solid #ddd;
  border-top-color: #222;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  animation: circle-loading 0.5s linear infinite;
}

.filter-updating .w-product-filter,
.filter-updating .w-result-filter {
  opacity: 0.6;
  pointer-events: none;
}

.filter-updating .filter-loading {
  display: inline-block;
}

.filter-updating ul.products {
  position: relative;
}

.w-product-filter {
  transition: height 300ms;
}

.w-product-filter.is-closing, .w-product-filter[data-collapse] {
  overflow: hidden;
}

.w-product-filter.is-opening {
  overflow: hidden;
}

.w-product-filter:empty {
  display: none;
}

.w-product-filter select {
  font-size: 1em;
}

.w-product-filter input {
  margin: 0;
  font-size: 1em;
}

.w-product-filter svg {
  pointer-events: none;
}

.w-product-filter .w-filter-hidden {
  display: none;
}

.w-product-filter[data-collapse] .widget-title .woostify-svg-icon {
  transform: translateY(-50%) rotate(180deg);
}

.w-product-filter .widget-title {
  position: relative;
  cursor: pointer;
  padding: 10px 20px 10px 0;
  margin: 0;
}

.w-product-filter .widget-title .woostify-svg-icon {
  position: absolute;
  left: auto;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-product-filter .widget-title .woostify-svg-icon svg {
  width: 12px;
  height: 12px;
}

.w-product-filter.no-collapse .widget-title .woostify-svg-icon {
  display: none;
}

.w-product-filter .w-product-filter-inner .w-product-filter-content-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.w-product-filter .w-product-filter-inner .search-wrap {
  position: relative;
}

.w-product-filter .w-product-filter-inner .search-wrap input {
  width: 100%;
}

.w-product-filter .w-filter-item-depth {
  margin-left: 12px;
}

.w-product-filter [type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  min-width: 1.2em;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid currentColor;
  margin-right: 0.6em;
  border-radius: 2px;
}

.w-product-filter [type="checkbox"]:checked {
  background-color: currentColor;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 20'%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'%3E%3C/path%3E%3C/svg%3E");
}

.w-product-filter [type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  min-width: 1.2em;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid currentColor;
  margin-right: 0.6em;
  border-radius: 50%;
}

.w-product-filter [type="radio"]:checked {
  position: relative;
}

.w-product-filter [type="radio"]:checked:before {
  background: currentColor;
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.6em;
  left: 50%;
  margin: 0;
  min-height: 0.6em;
  min-width: 0.6em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.6em;
  height: 0.6em;
  min-height: 0.6em;
  min-width: 0.6em;
  width: 0.6em;
}

.w-product-filter .w-filter-item {
  width: 100%;
  cursor: pointer;
  margin: 3px 0;
}

.w-product-filter .w-filter-item * {
  vertical-align: middle;
}

.w-product-filter .w-filter-item-count {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 0.2em 0;
}

.w-product-filter .w-filter-quick-search {
  margin-bottom: 10px;
}

.w-product-filter .w-filter-item-cat {
  position: relative;
}

.w-product-filter .w-filter-item-cat * {
  vertical-align: middle;
}

.w-product-filter .w-filter-item-cat.has-children {
  padding-right: 10px;
}

.w-product-filter .w-filter-item-cat .w-filter-item {
  display: block;
}

.w-product-filter .w-filter-item-cat .w-filter-item-inner {
  margin-left: 1.4em;
}

.w-product-filter .w-filter-item-cat .w-filter-item-inner:not(.active) {
  display: none;
}

.w-product-filter .w-filter-item-cat .w-filter-item-count {
  display: inline-block;
}

.w-product-filter .w-filter-item-cat .toggle-child-cat {
  position: absolute;
  right: 0;
  top: 0.4em;
  cursor: pointer;
  font-size: 1.2em;
  user-select: none;
}

.w-product-filter .w-filter-toggle-btn {
  cursor: pointer;
}

.w-product-filter .w-filter-toggle-btn:hover {
  text-decoration: underline;
}

.w-product-filter[data-type="checkbox"] .w-filter-item-wrap, .w-product-filter[data-type="radio"] .w-filter-item-wrap {
  position: relative;
  padding-left: 30px;
}

.w-product-filter[data-type="checkbox"] .w-filter-item, .w-product-filter[data-type="radio"] .w-filter-item {
  width: 100%;
  position: static;
  display: flex;
  justify-content: space-between;
}

.w-product-filter[data-type="checkbox"] .w-filter-item .w-filter-item-input, .w-product-filter[data-type="radio"] .w-filter-item .w-filter-item-input {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 7px;
}

.w-product-filter[data-type="checkbox"] .w-filter-item .w-filter-item-count, .w-product-filter[data-type="radio"] .w-filter-item .w-filter-item-count {
  margin-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 6px;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: auto;
}

.w-product-filter[data-type="checkbox"] .expand-btn {
  float: right;
  cursor: pointer;
  user-select: none;
  position: absolute;
  right: 0;
  top: 4px;
}

.w-product-filter[data-type="checkbox"] .w-filter-item-wrap.is-parent-item {
  padding-right: 25px;
}

.w-product-filter[data-type="checkbox"] .w-filter-item-depth {
  display: none;
}

.w-product-filter[data-type="checkbox"] .w-filter-item-depth .w-filter-item-wrap .w-filter-item .w-filter-item-input {
  top: 4px;
}

.w-product-filter[data-type="checkbox"] .w-filter-item-depth .w-filter-item-wrap .expand-btn {
  top: 1px;
}

.w-product-filter[data-type="checkbox"] .w-filter-item-depth.visible {
  display: block;
}

.w-product-filter[data-type="select"] select {
  text-transform: capitalize;
}

.w-product-filter[data-type="check-range"] .w-filter-item {
  justify-content: flex-start;
}

.w-product-filter[data-type="check-range"] .w-filter-separator {
  margin: 0 10px;
}

.w-product-filter[data-type="date-range"] .w-product-filter-content-wrap {
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.w-product-filter[data-type="date-range"] .w-filter-date-picker {
  width: 48.75%;
}

.w-product-filter[data-type="date-range"] .w-filter-item-submit {
  margin-top: 10px;
  font-size: 1em;
}

.w-product-filter[data-type="range-slider"] .w-product-filter-inner {
  display: block;
  padding-top: 45px;
  padding-bottom: 10px;
}

.w-product-filter[data-type="range-slider"][data-collapse] .w-product-filter-inner {
  margin-top: 0;
}

.w-product-filter[data-type="range-slider"] .w-filter-range-slider-reset {
  width: auto;
  margin-top: 15px;
}

.w-product-filter .w-product-filter-text-field {
  padding-right: 30px;
}

.w-product-filter .w-product-filter-search-icon {
  position: absolute;
  right: 0;
  height: 100%;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.w-product-filter[data-type="rating"] .w-filter-rating-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 0;
}

.w-product-filter[data-type="rating"] .w-filter-rating-item.selected .w-filter-rating-star {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 16 16' fill='%23f9bf00' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z'/%3E%3C/svg%3E");
}

.w-product-filter[data-type="rating"] .w-filter-rating-item:first-of-type .w-filter-rating-star {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 16 16' fill='%23f9bf00' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z'/%3E%3C/svg%3E");
}

.w-product-filter[data-type="rating"] .w-filter-rating-item:first-of-type .w-filter-rating-star-inner {
  width: 100%;
}

.w-product-filter[data-type="rating"] .w-filter-rating-item:nth-of-type(2) .w-filter-rating-star-inner {
  width: 80%;
}

.w-product-filter[data-type="rating"] .w-filter-rating-item:nth-of-type(3) .w-filter-rating-star-inner {
  width: 60%;
}

.w-product-filter[data-type="rating"] .w-filter-rating-item:nth-of-type(4) .w-filter-rating-star-inner {
  width: 40%;
}

.w-product-filter[data-type="rating"] .w-filter-rating-item:nth-of-type(5) .w-filter-rating-star-inner {
  width: 20%;
}

.w-product-filter[data-type="rating"] .w-filter-rating-star {
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 16 16' fill='%23e9e9e9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  width: 100px;
  height: 20px;
  display: inline-flex;
}

.w-product-filter[data-type="rating"] .w-filter-rating-star-inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 16 16' fill='%23f9bf00' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
}

.w-product-filter[data-type="rating"] .w-filter-rating-label {
  margin-left: 10px;
}

.w-product-filter[data-type="visual"] .w-product-filter-inner .w-product-filter-content-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

.w-product-filter[data-type="visual"] .w-filter-item {
  width: 2.1em;
  height: 2.1em;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
  position: relative;
  display: flex;
  justify-content: center;
}

.w-product-filter[data-type="visual"] .w-filter-item.w-filter-swatch-label {
  display: flex;
  align-items: center;
  line-height: 1.5;
  width: auto;
  height: auto;
  padding: 0.3em 0.6em;
}

.w-product-filter[data-type="visual"] .w-filter-item.selected {
  border-color: transparent;
}

.w-product-filter[data-type="visual"] .w-filter-item.selected:before {
  content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid #f00;
  border-radius: 4px;
}

.w-product-filter[data-type="visual"] .w-filter-item:hover .w-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.w-product-filter[data-type="visual"] .w-filter-item img {
  border-radius: 4px;
}

.w-product-filter[data-type="visual"] .w-tooltip {
  position: absolute;
  top: -2.8em;
  padding: 0.3em 0.6em;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  border-radius: 4px;
  line-height: 1.3;
  font-size: 0.8em;
  white-space: nowrap;
  transform: translateY(10px);
  transition-duration: 0.3s;
  background-color: #333333;
  color: #ffffff;
}

.w-product-filter[data-type="visual"] .w-tooltip:hover {
  display: none;
}

.w-product-filter[data-type="visual"] .w-tooltip:before {
  border-color: #333333 transparent transparent transparent;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 5px 5px 0 5px;
}

.w-filter-key:empty {
  display: none;
}

.w-filter-key .w-filter-key-remove {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  font-size: 0.85em;
  line-height: 1;
  vertical-align: middle;
}

.w-filter-key [data-type="clear"] {
  border-color: #d98282;
  color: #c16666;
}

.w-filter-key .w-filter-key-remove-icon {
  margin-left: 0.5em;
  line-height: 1;
  font-size: 1.2em;
  display: inline-flex;
}

.w-filter-key .w-filter-key-remove-icon .woostify-svg-icon {
  width: 9px;
  height: 9px;
  display: inline-flex;
  align-items: center;
}

.w-filter-date-picker,
.w-filter-item-submit,
.w-product-filter-text-field,
.w-product-filter-select-field {
  min-height: 36px;
  padding: 0 10px;
  border-radius: 4px;
}

.w-result-filter.site-main .woocommerce-ordering,
.w-result-filter.site-main .woostify-toolbar-left {
  margin-bottom: 20px;
}

.w-result-filter.site-main .w-filter-key {
  margin-bottom: 5px;
}

.w-result-filter.site-main .woocommerce-info {
  display: block;
}

.shop-widget .w-product-filter {
  margin-bottom: 30px;
}

.filter-area.filter-horizontal {
  display: none;
}

@media (min-width: 992px) {
  .filter-area.filter-horizontal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.filter-area.filter-horizontal .w-product-filter-all, .w-pro-smart-filter-layout-horizontal .elementor-widget-container .w-product-filter-all {
  display: flex;
  flex-wrap: wrap;
}

.filter-area.filter-horizontal .w-product-filter, .w-pro-smart-filter-layout-horizontal .elementor-widget-container .w-product-filter {
  padding-bottom: 10px;
  margin-right: 40px;
  height: auto !important;
  position: relative;
}

.filter-area.filter-horizontal .w-product-filter .widget-title, .w-pro-smart-filter-layout-horizontal .elementor-widget-container .w-product-filter .widget-title {
  margin: 0;
  padding: 5px 15px 5px 0;
}

.filter-area.filter-horizontal .w-product-filter .widget-title:after, .w-pro-smart-filter-layout-horizontal .elementor-widget-container .w-product-filter .widget-title:after {
  display: block;
  right: 0;
}

.filter-area.filter-horizontal .w-product-filter.open .widget-title .woostify-svg-icon, .w-pro-smart-filter-layout-horizontal .elementor-widget-container .w-product-filter.open .widget-title .woostify-svg-icon {
  transform: translateY(-50%) rotate(180deg);
}

.filter-area.filter-horizontal .w-product-filter[data-type="range-slider"] .w-product-filter-inner, .w-pro-smart-filter-layout-horizontal .elementor-widget-container .w-product-filter[data-type="range-slider"] .w-product-filter-inner {
  margin: 0;
  padding-top: 55px;
}

.filter-area.filter-horizontal .w-product-filter .w-product-filter-inner, .w-pro-smart-filter-layout-horizontal .elementor-widget-container .w-product-filter .w-product-filter-inner {
  width: 250px;
  position: absolute;
  display: none;
  z-index: 10;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  top: 100%;
}

.filter-area.filter-horizontal .w-product-filter .w-product-filter-inner:before, .w-pro-smart-filter-layout-horizontal .elementor-widget-container .w-product-filter .w-product-filter-inner:before {
  left: 20px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  content: '';
  position: absolute;
  top: -5px;
}

.filter-area.filter-horizontal .w-product-filter .w-product-filter-inner:after, .w-pro-smart-filter-layout-horizontal .elementor-widget-container .w-product-filter .w-product-filter-inner:after {
  content: '';
  position: absolute;
  top: -5px;
  left: 18px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  -ms-box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.12);
  box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.12);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter-area.filter-horizontal .w-product-filter.open .w-product-filter-inner, .w-pro-smart-filter-layout-horizontal .elementor-widget-container .w-product-filter.open .w-product-filter-inner {
  display: block;
}

.w-pro-smart-filter-layout-horizontal .w-product-filter.no-collapse .widget-title .woostify-svg-icon {
  display: block;
}

@media (min-width: 992px) {
  .has-sidebar.w-pro-smart-filter-layout-horizontal #secondary > * {
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  .has-sidebar.w-pro-smart-filter-layout-horizontal:not(.offcanvas-sidebar) #toggle-sidebar-mobile-button, .no-sidebar.w-pro-smart-filter-layout-horizontal:not(.offcanvas-sidebar) #toggle-sidebar-mobile-button {
    display: none;
  }
}

.no-sidebar.w-pro-smart-filter-layout-horizontal #toggle-sidebar-mobile-button {
  display: block;
}

.no-sidebar #toggle-sidebar-mobile-button {
  display: none;
}

@media (min-width: 992px) {
  .no-sidebar #secondary {
    margin-top: 0 !important;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    max-width: 280px;
    z-index: 200;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
}

.woostify-svg-icon {
  color: currentColor;
}

.woostify-svg-icon svg {
  color: currentColor;
  fill: currentColor;
}

.woostify-svg-icon svg > * {
  fill: currentColor;
}

.elementor-element-edit-mode .woostify-sorting .filter-area, .elementor-element-edit-mode .woostify-sorting .w-filter-key {
  display: none;
}
