.woostify-swatch-preview {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-weight: 700;
  border: 1px solid #ccc;
}

.woostify-variation-swatches-modal-container {
  position: relative;
  display: none;
}

.woostify-variation-swatches-modal {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 360px;
  max-width: 90%;
  z-index: 159990;
  background-color: #fcfcfc;
}

.woostify-variation-swatches-modal input.error {
  border-color: #dc3232;
}

.woostify-variation-swatches-modal-header, .woostify-variation-swatches-modal-content, .woostify-variation-swatches-modal-modal {
  padding: 20px;
}

.woostify-variation-swatches-modal-header {
  padding-top: 0;
  padding-bottom: 0;
}

.woostify-variation-swatches-modal-content {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.woostify-variation-swatches-modal-footer {
  text-align: right;
  padding: 10px 20px;
}

.woostify-variation-swatches-modal-footer .message,
.woostify-variation-swatches-modal-footer .spinner {
  float: left;
}

.woostify-variation-swatches-modal-footer .message.error {
  color: #dc3232;
}

.woostify-variation-swatches-modal-footer .message.success {
  color: #46b450;
}
